
body {

	background-image: url("../images/congruent_pentagon.png");
	color: #777777;
	width: 960px;

}

nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #cccccc;
	padding:15px;
	float:right;
}

.container {
	background-color: #ffffff;
}

.main{
	width: 650px;
	background-color: #ffffff;
	padding: 15px;

}

.picture {
	float:left;
	margin-right:10px;
}

h1 {
	padding: 15px;
	background-color: #4aaaa5;
	font-size: 22px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	width: 215px;

}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;	
}

.sidebar{
	float:right;
	background-color: white;
	}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: right;

}

footer {
	position: fixed;
	left: 0;
	bottom:0;
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #666666;
	color: #ebebeb;

}